<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>destroy_effect_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{20,20}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>destroy_effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{24,26}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>destroy_effect_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{46,36}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{46,36}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>destroy_effect_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{48,36}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{48,36}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>destroy_effect_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{48,40}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{48,40}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>destroy_effect_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{50,42}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{50,42}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>destroy_effect_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{50,44}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{50,44}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>destroy_effect_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,46},{50,46}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{50,46}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>destroy_effect_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,46},{50,48}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>destroy_effect_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,46},{50,48}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{50,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>destroy_effect_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,46},{40,44}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{40,44}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>destroy_effect_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{22,14}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,39},{22,14}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>destroy_effect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,96},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{32,34}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>destroy_effect_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,96},{2,2}}</string>
                <key>offset</key>
                <string>{-18,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,42},{2,2}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>destroy_effect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,96},{44,42}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{44,42}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>destroy_effect_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,96},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>destroy_effect_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,96},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>destroy_effect_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>destroy_effect_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,154},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>destroy_effect_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,154},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>destroy_effect_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,154},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>destroy_effect@2x.png</string>
            <key>size</key>
            <string>{252,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1c601e63e1b8965cbfebd79b7b34ac3$</string>
            <key>textureFileName</key>
            <string>destroy_effect@2x.png</string>
        </dict>
    </dict>
</plist>
