<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>speed_line0000</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{486,51}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,51}}</string>
                <key>sourceSize</key>
                <string>{490,51}</string>
            </dict>
            <key>speed_line_yellow0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{488,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,83}}</string>
                <key>sourceSize</key>
                <string>{490,83}</string>
            </dict>
            <key>star</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>explode@2x.png</string>
            <key>size</key>
            <string>{140,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd48b0a1f37fe995f65ebdae95fd7b69$</string>
            <key>textureFileName</key>
            <string>explode@2x.png</string>
        </dict>
    </dict>
</plist>
